.card-container{
    width: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    margin: 40px;
    padding: 5px;
    height: 300px;
}
.mob-no{
    position: absolute;
    bottom: -25px;
    right: 7px;
    font-weight: bold;
    font-size: 15px;
}
.img-hotel{
    width: 400px;
    border-radius: 5px;
    height: 200px;
}
.htel-name{
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .card-container{
        width: 300px;
    }
    .img-hotel{
        width: 300px;
    }
}