.titile{
    text-align: center;
   font-size: 45px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.input{
    width: 650px;
    margin-left: 410px;
    height: 40px;
    font-size: 26px;
    color: black;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #d8edf6;
}
.not-found{
    text-align: center;
}

@media screen and (max-width: 768px) {
    .contain {
        flex-direction: column;
        align-items: center;
    }

    .input {
        width: 70%; 
        margin-left: 39px;

         }
}